*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
  height: 100vh;
  overflow-x: none;
}
body {
    background: linear-gradient(to right, #FFFEC8, #f2c597);
  }



  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    /* background-color: #fff; */
    height: 80px;
    padding: 0 20px;
    margin: 20px 200px;
  }
  .logo{
    display: flex;
    align-items: center;
   
  }
  
  .logo img {
    height: 60px;
  }
  .logo .name_blode{
    margin-left: 20px;
  }
  
  .user-name {
    margin: 0 20px;
    display: flex;
    font-size: 20px;
    
    color: #333;
  }
  .user-name span{
    font-size: 40px;
  }
  .user-name h4{
    display: flex;
    align-items: center;
  }
  .logo_part .logo_img img{
    height: 70px;
    width: 70px;
}

.logo_part .name_blode{
    display: flex;
    align-items: center;
    margin-left: 20px ;
}
.input_page_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_content_heading{
    height: 100px;
    width: 700px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-radius:15px ;
    resize: none;
    font-size: 35px;
    overflow: none;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;

}
/* .input_content_heading{
    opacity: 30%;
    padding: 10px;
   
} */
.input_content_content{
    margin-top: 30px;
    height: 350px;
    width: 700px;
    background-color: aliceblue;
    border-radius: 15px;
    resize: none;
    font-size: 30px;
    padding: 20px;
    vertical-align: top;
    text-transform: capitalize;

}
.input_content_content span{
    font-size: 30px;
    opacity: 30%;
    padding: 10px;

    
}
.buttons_c_s{
    display: flex;
    justify-content:center;
    margin: 20px 950px;
}
.buttons_c_s button{
    padding: 10px 20px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    margin: 20px;
    font-weight: bold;
    color: white;
}
#cancel{
    background-color: red;

}
#save{
    background-color:#f29537;
}